body {
    background-color: rgb(58, 57, 57);
}
.game-body {
    display: block;
    margin: auto auto;
    width: 60vw;
    background-color: rgb(250, 198, 101);
}
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    text-align: center;
    padding: 70px 0 70px 0;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
button {
    height: auto;
    width: auto;
    background: none;
    border: none;
    margin: 50px;
    /* outline: none; */
}
.btn:hover, #run:hover, #reset:hover{
    transform: scale(1.2);
    transition: 100ms;
    text-decoration: underline;
}
.btn:focus {
    transform: scale(1.5);
}
i {
    font-size: 100px;
    color: black;
    /* fill: orange; 
    doesntwork */

}
#submit {
    display: flex;
    flex-direction: row;
}
#run {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    display: flex;
    margin: 0 10px 0 0;
    justify-content: right;
}
#reset {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    display: none;
    margin: 0 0 0 10px;
}
.score {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* .table-you {
    grid-column: 1;
    grid-row: 1;
    justify-content: center;

}
.your-score {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;

}
.table-computer {
    grid-column: 2;
    grid-row: 1;
}
.computer-score {
    grid-column: 2;
    grid-row: 2;
} */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
}
#result {
    width: 100%;
    height: 200px;
}
#outcome {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
}
