.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
button, input {
    height: 100px;
    width: 100px;
}
button:focus {
    background: grey;
}
i {
    font-size: 50px;

}
#rock, #paper {
    transform: rotate(-90deg);
}
input {
   float: right;
}